.section-block {
    padding: 10px;
}

.section-block-1 {
    width: 20%;
    margin: 10px;
    padding: 10px;
    float: left;
}

.block-store {
    background-color: white !important;
    padding: 10px;
    border-radius: 10px;
}